---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />

  <!-- Hero -->
  <section 
    class="relative h-[75vh] bg-cover bg-center flex items-center justify-center text-center"
    style="background-image: url('/images/vol3.jpg');"
  >

  </section>

    <section id="about-us" class="py-16 bg-black/5">
    <div class="container mx-auto px-5 text-center">
        <div class="max-w-3xl mx-auto">
        <h2 class="text-3xl md:text-4xl font-bold mb-6">
            Passion, Liberté
        </h2>
        <p class="text-lg leading-relaxed mb-6">
          Deux frères, unis par la passion du ciel et de la montagne, vous invitent à vivre 
          l’aventure du parapente biplace. Très jeunes, Damien et Lucas ont découvert la magie 
          du vol libre et n’ont jamais cessé d’en rêver et de voler. Aujourd’hui, animés par l’envie 
          de partager cette sensation unique, ils vous proposent des expériences mémorables, 
          accessibles à tous.
        </p>
        <p class="text-lg leading-relaxed">
          Avec eux, chaque vol devient bien plus qu’une activité : c’est un moment de 
          liberté, de découverte et de connexion avec la nature. Leur enthousiasme et leur 
          savoir-faire garantissent non seulement votre sécurité, mais aussi le plaisir intense 
          de planer au-dessus des paysages exceptionnels d’Ovronnaz.
        </p>
        </div>
    </div>
    </section>


    <!-- Lucas -->
  <section class="py-8" id="lucas">
    <div class="container mx-auto px-5 grid md:grid-cols-2 gap-10 items-center">
      <!-- Texte -->
      <div>
        <h3 class="text-2xl font-bold mb-2">Lucas – Pilote biplace</h3>
        <p class="text-gray-400 mb-3">9 ans d’expérience • Compétiteur en acrobatie  • Vols randos en montagne  </p>
        <p class="mb-6">
          Passionné depuis son enfance, Lucas a fait son premier vol en solo à 14 ans. Depuis, 
          il explore toutes les facettes du parapente : acrobaties, vols en randonnée, bivouac, 
          biplace ou vols à ski. Chaque envol est pour lui une occasion de goûter à la liberté et 
          au plaisir intense du vol libre. L’été, il partage sa passion avec des centaines de clients 
          à Interlaken en biplace. L’hiver, il profite du domaine d’Ovronnaz et se met à votre 
          disposition pour vous faire découvrir ce qui le passionne vraiment !
        </p>
        <!-- Portrait -->
        <img src="/images/lucas-stab.jpg" alt="Portrait de Lucas"
            class="w-100 h-100 rounded-lg mx-auto md:mx-0 shadow-lg object-cover" />
      </div>

      <!-- Instagram embed -->
      <div class="flex justify-center">
        <blockquote 
          class="instagram-media w-full max-w-md rounded-xl overflow-hidden shadow-lg"
          data-instgrm-permalink="https://www.instagram.com/p/DNYZ1xxoQuR/"
          data-instgrm-version="14"
          style="background:#FFF; border:0; border-radius:12px; box-shadow:0 0 0 1px rgba(0,0,0,0.05),0 1px 10px rgba(0,0,0,0.15); margin:0; padding:0;"
        ></blockquote>
      </div>
    </div>
  </section>

  <!-- Damien -->
  <section class="py-8" id="damien">
    <div class="container mx-auto px-5 grid md:grid-cols-2 gap-10 items-center">
      <!-- Texte -->
      <div>
        <h3 class="text-2xl font-bold mb-2">Damien – Pilote biplace</h3>
        <p class="text-gray-400 mb-3">7 ans d’expérience • Vols&Ski • Vols randos</p>
        <p class="mb-6">
          Encouragé par son frère, Damien commence sa license à 14 ans. Une fois la license
          en poche, il découvre les joies du vol rando, vol à ski, tandem, ... L'été il vole en tandem 
          au dessus du lac Léman, à Villeneuve pour faire découvrir le monde du parapente à des 
          centaines de passagers. L'hiver il passe tout son temps libre à Ovronnaz pour vous faire 
          profiter d'un vol en biplace.
        </p>
        <!-- Portrait -->
        <img src="/images/deco-sanetsh.jpg" alt="Portrait de Lucas"
            class="w-100 h-100 rounded-lg mx-auto md:mx-0 shadow-lg object-cover" />
      </div>

      <!-- Instagram embed -->
      <div class="flex justify-center">
        <blockquote 
          class="instagram-media w-full max-w-md rounded-xl overflow-hidden shadow-lg"
          data-instgrm-permalink="https://www.instagram.com/p/Cnru46PhDG9/"
          data-instgrm-version="14"
          style="background:#FFF; border:0; border-radius:12px; box-shadow:0 0 0 1px rgba(0,0,0,0.05),0 1px 10px rgba(0,0,0,0.15); margin:0; padding:0;"
        ></blockquote>
      </div>
    </div>
  </section>

  <Footer />
</Layout>
