---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />

  <!-- Hero -->
  <section 
    class="relative h-full bg-cover bg-center flex items-center justify-center text-center"
    style="background-image: url('/images/vol3.webp');"
  >

    <div class="absolute inset-0 bg-black/25"></div>

    <a href="#equipe" class="z-10 flex items-center gap-2 bg-yellow-400 hover:bg-yellow-500 text-black font-semibold px-6 py-3 rounded-full transition">
      Découvrir l’équipe
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 animate-bounce" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </a>

  </section>

    <!-- Lucas -->
  <section class="py-8 scroll-mt-10" id="equipe">
    <div class="container mx-auto px-5 grid md:grid-cols-2 gap-10 items-center">
      <!-- Texte -->
      <div>
        <h3 class="text-2xl font-bold mb-2">Lucas – Pilote biplace</h3>
        <p class="text-gray-400 mb-3">9 ans d’expérience • Compétiteur en acrobatie  • Vols randos en montagne  </p>
        <p class="mb-6">
          Passionné depuis tout petit, Lucas a volé seul pour la première fois à 14 ans. 
          Depuis, il n’a pas arrêté de voler dès que l’occasion se présente. Sa passion 
          pour le vol libre l’à amené à prendre part aux compétitons de parapente acrobatique, 
          discipline dans laquelle il fait désormais parti des du top 12 mondial. Outre 
          l’acrobatie, Lucas apprécie beaucoup d’autres disciplines du parapente comme le 
          vol à ski, le vol rando ou le tandem. Avec maintenant plus de 8 ans d’expérience, 
          il se fera un plaisir de vous faire découvrir sa passion lors d’un vol biplace à 
          Ovronnaz.
        </p>
        <!-- Portrait -->
        <img src="/images/lucas-stab.webp" alt="Lucas"
            class="w-100 h-100 rounded-lg mx-auto md:mx-0 shadow-lg object-cover" />
      </div>

      <!-- Instagram embed -->
      <div class="flex justify-center">
        <blockquote 
          class="instagram-media w-full max-w-md rounded-xl overflow-hidden shadow-lg"
          data-instgrm-permalink="https://www.instagram.com/p/DNYZ1xxoQuR/"
          data-instgrm-version="14"
          style="background:#FFF; border:0; border-radius:12px; box-shadow:0 0 0 1px rgba(0,0,0,0.05),0 1px 10px rgba(0,0,0,0.15); margin:0; padding:0;"
        ></blockquote>
      </div>
    </div>
  </section>

  <!-- Damien -->
  <section class="py-8" id="damien">
    <div class="container mx-auto px-5 grid md:grid-cols-2 gap-10 items-center">
      <!-- Texte -->
      <div>
        <h3 class="text-2xl font-bold mb-2">Damien – Pilote biplace</h3>
        <p class="text-gray-400 mb-3">7 ans d’expérience • Vols&Ski • Vols randos</p>
        <p class="mb-6">
          Damien découvre le parapente à seulement 14 ans et, depuis, il ne cesse de s’élancer 
          dans les airs dès que les conditions le permettent. Avide de sensations, il s’essaie 
          à plusieurs disciplines comme le vol acrobatique, le Hike & Fly ou encore le vol à 
          ski. Pilote de biplace avec une solide expérience, Damien se fera un plaisir de vous 
          faire découvrir la région d’Ovronnaz depuis les airs.
          
        </p>
        <!-- Portrait -->
        <img src="/images/deco-sanetsh.webp" alt="Damien"
            class="w-100 h-100 rounded-lg mx-auto md:mx-0 shadow-lg object-cover" />
      </div>

      <!-- Instagram embed -->
      <div class="flex justify-center">
        <blockquote 
          class="instagram-media w-full max-w-md rounded-xl overflow-hidden shadow-lg"
          data-instgrm-permalink="https://www.instagram.com/p/Cnru46PhDG9/"
          data-instgrm-version="14"
          style="background:#FFF; border:0; border-radius:12px; box-shadow:0 0 0 1px rgba(0,0,0,0.05),0 1px 10px rgba(0,0,0,0.15); margin:0; padding:0;"
        ></blockquote>
      </div>
    </div>
  </section>

  <Footer />
</Layout>
