---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import FAQ from "../components/FAQ.astro";
---

<Layout>
  <main class="flex flex-col min-h-screen bg-white text-gray-900">
    <!-- Section avec image ou vidéo de fond -->
    <div class="relative h-screen w-full overflow-hidden">
      <!-- Vidéo de fond -->
      <video
        id="hero-video"
        autoplay
        loop
        muted
        playsinline
        preload="auto"
        poster="/images/express2.jpg"
        class="absolute inset-0 w-full h-full object-cover"
      >
        <source src="/video/Starter_ultra_light.mp4" type="video/mp4" />
        Votre navigateur ne supporte pas les vidéos HTML5.
      </video>

      <Navbar />

      <!-- Contenu central -->
      <div class="relative z-10 h-full flex flex-col items-center justify-center text-center text-white">
        <h1 class="text-4xl md:text-6xl font-bold">Parapente à Ovronnaz</h1>
        <p class="mt-4 text-lg md:text-2xl">
          Vivez l’aventure du parapente biplace dans un cadre exceptionnel.
        </p>
        <a href="/reservation" class=" mt-6 px-5 py-2 bg-black/30 rounded-xl text-white font-semibold hover:bg-black/70 transition">
          Réserver maintenant
        </a>
      </div>
    </div>

    <!-- Section description -->
    <section id="description" class="py-16">
      <div class="max-w-4xl mx-auto text-center px-6">
        <h2 class="text-3xl font-bold mb-6">Ovronnaz vu d'en haut !</h2>
        <p class="text-lg text-gray-700">
          Volta Parapente vous emmène découvrir Ovronnaz comme vous ne l’avez jamais vu !
          Tout l’hiver, envolez-vous pour un vol biplace en parapente, skis aux pieds, et admirez le domaine depuis les airs.
        </p>
        <p class="text-lg text-gray-700 mt-4">
          Volta Parapente, c’est l’aventure de deux frères passionnés, Damien et Lucas Ruffieux, qui partagent depuis 
          longtemps leur passion du vol. Forts de leur grande expérience dans la région, ils vous accueillent
          avec simplicité, bonne humeur et professionnalisme, pour vous offrir un moment magique en toute sécurité.
        </p>
      </div>
    </section>

    <section class="container mx-auto px-5 py-16 space-y-16 scroll-mt-6" id="vols">
      <!-- Premier vol -->
      <div class="grid md:grid-cols-2 gap-10 items-center">
        <!-- Description -->
        <div>
          <h2 class="text-2xl font-bold mb-4">Le <span class="italic">Grand Vol</span></h2>
          <p class="text-gray-700 mb-4">
            Notre vol préféré ! Envolez-vous depuis Tsantonnaire, skis aux pieds, et profitez d’un panorama 
            unique sur tout le domaine d’Ovronnaz. Une expérience idéale pour un premier vol ou pour offrir 
            un moment magique, en toute sécurité.
          </p>
          <!-- Liste des inclusions -->
          <ul class="space-y-2 mb-6 text-gray-700 list-disc list-inside">
            <li>
              Décollage sous la buvette de Tsantonnaire
                <a
                  href="https://maps.app.goo.gl/e18SxeA274R9jcFbA"
                  target="_blank"
                  class="font-semibold italic text-blue-600 hover:underline"
                >
                  Voir sur Google Maps
                </a>
            </li>
            <li>
              Atterissage sur les terrains du centre sportif, à côté du départ du télésiège Jorasse
                <a
                  href="https://maps.app.goo.gl/JzbG6vX6zZQh9uuA9"
                  target="_blank"
                  class="font-semibold italic text-blue-600 hover:underline"
                >
                  Voir sur Google Maps
                </a>
            </li>
            <li>
              Plus de 1000m de dénivelé !
            </li>
            <li>
              Prix : 150CHF
            </li>
            <li>
              Option photos et vidéo : 40CHF
            </li>
          </ul>
          <a href="/reservation" class="px-5 py-2 bg-yellow-400 rounded-xl text-white font-semibold hover:bg-yellow-500 transition">
            Réserver maintenant
          </a>
        </div>
        <!-- Image -->
                <div class="order-1 md:order-none aspect-[4/3] overflow-hidden rounded-2xl shadow-lg relative">
          
                  <style>
                    @keyframes slow-zoom {
                      from {
                        transform: scale(1);
                      }
                      to {
                        transform: scale(1.1);
                      }
                    }


                    .zooming {
                      animation: slow-zoom 5s forwards;
                    }
                  </style>


                    
                  <img
                    src="/images/montagne1.jpg"
                    class="absolute inset-0 w-full h-full object-cover opacity-100 transition-opacity duration-300 ease-in-out zooming"
                    data-slide1
                  />
                  <img
                    src="/images/montagne2.jpg"
                    class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-300 ease-in-out"
                    data-slide1
                  />
                  <img
                    src="/images/montagne3.jpg"
                    class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-300 ease-in-out"
                    data-slide1
                  />
                  <img
                    src="/images/montagne4.jpg"
                    class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-300 ease-in-out"
                    data-slide1
                  />
                  

                  <script>
                    document.addEventListener('DOMContentLoaded', () => {
                      const slides1 = document.querySelectorAll<HTMLElement>('[data-slide1]');
                      if (!slides1.length) return;

                        let index1 = 0;

                      setInterval(() => {
                        const current1 = slides1[index1];

                        // fade out SEULEMENT (on ne touche PAS au zoom)
                        current1.classList.remove('opacity-100');
                        current1.classList.add('opacity-0');

                        // next slide
                        index1 = (index1 + 1) % slides1.length;
                        const next1 = slides1[index1];

                        // reset zoom animation proprement
                        next1.classList.remove('zooming');
                        void next1.offsetWidth; // force reflow

                        // fade in + zoom
                        next1.classList.remove('opacity-0');
                        next1.classList.add('opacity-100', 'zooming');
                      }, 5000);
                    });
                  </script>
                
                </div>   
      </div>

      <!-- Deuxième vol -->
      <div class="grid md:grid-cols-2 gap-10 items-center">
        <!-- Image -->
        <div class="order-1 md:order-none aspect-[4/3] overflow-hidden rounded-2xl shadow-lg relative">
          
          <style>
            @keyframes slow-zoom {
              from {
                transform: scale(1);
              }
              to {
                transform: scale(1.1);
              }
            }


            .zooming {
              animation: slow-zoom 5s forwards;
            }
          </style>


            
          <img
            src="/images/express1.jpg"
            class="absolute inset-0 w-full h-full object-cover opacity-100 transition-opacity duration-300 ease-in-out zooming"
            data-slide
          />
          <img
            src="/images/express2.jpg"
            class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-300 ease-in-out"
            data-slide
          />
          <img
            src="/images/express3.jpg"
            class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-300 ease-in-out"
            data-slide
          />
          <img
            src="/images/express4.jpg"
            class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-300 ease-in-out"
            data-slide
          />
           

          <script>
            document.addEventListener('DOMContentLoaded', () => {
              const slides = document.querySelectorAll<HTMLElement>('[data-slide]');
              if (!slides.length) return;

                let index = 0;

              setInterval(() => {
                const current = slides[index];

                // fade out SEULEMENT (on ne touche PAS au zoom)
                current.classList.remove('opacity-100');
                current.classList.add('opacity-0');

                // next slide
                index = (index + 1) % slides.length;
                const next = slides[index];

                // reset zoom animation proprement
                next.classList.remove('zooming');
                void next.offsetWidth; // force reflow

                // fade in + zoom
                next.classList.remove('opacity-0');
                next.classList.add('opacity-100', 'zooming');
              }, 5000);
            });
          </script>
        
        </div>

        <!-- Description -->
        <div>
          <h2 class="text-2xl font-bold mb-4">Le <span class="italic">Tsantonnaire Express</span></h2>
          <p class="text-gray-700 mb-4">
            Notre format le plus pratique ! Offrez-vous un vol le temps d’une 
            descente, skis aux pieds, sans préparation particulière. 
          </p>
          <!-- Liste des inclusions -->
          <ul class="space-y-2 mb-6 text-gray-700 list-disc list-inside">
            <li>
              Option vol de proximité ; sensations garanties !
            </li>
            <li>
              Départ depuis la buvette de Tsantonnaire
                <a
                  href="https://maps.app.goo.gl/e18SxeA274R9jcFbA"
                  target="_blank"
                  class="font-semibold italic text-blue-600 hover:underline"
                >
                  Voir sur Google Maps
                </a> 
            </li>
            <li>  
                Atterissage à côté du départ du téléski de Tsantonnaire
                <a
                  href="https://maps.app.goo.gl/TRZYjmFskTvxmNS37"
                  target="_blank"
                  class="font-semibold italic text-blue-600 hover:underline"
                >
                  Voir sur Google Maps
                </a>
            </li>
            </li>
            <li>
              Prix : 50CHF
            </li>
            </li>
            <li>
              Option photos et vidéos : 20CHF 
            </li>
          </ul>
          <a href="/reservation" class="px-5 py-2 bg-yellow-400 rounded-xl text-white font-semibold hover:bg-yellow-500 transition">
            Réserver maintenant
          </a>
        </div>
      </div>
    </section>    

<section class="w-full py-16">
  <div class="max-w-6xl mx-auto px-6">

    <!-- Titre -->
    <h2 class="mb-10 text-3xl font-bold tracking-tight text-center">
      FAQ-Foire aux questions
    </h2>

    <!-- Liste des questions -->
    <div class="space-y-2">

    <FAQ
      question="Quel niveau est requis en ski ou en snowboard ?"
      answer="Il est recommandé de pouvoir descendre confortablement la piste du téléski de Tsantonnaire, classée rouge."
    />

    <FAQ
      question="Le forfait de ski est-il inclus dans le tarif ?"
      answer="Le forfait n’est pas compris dans le prix. Les détenteurs du Magic Pass peuvent accéder aux pistes librement."
    />

    <FAQ
      question="Est-il possible de pratiquer le vol à pieds ?"
      answer="L’accès au décollage est réservé aux participants munis de skis ou d’un snowboard, le vol à pieds n’est pas autorisé."
    />

    <FAQ
      question="Faut-il prévoir un équipement spécifique ?"
      answer="L’équipement standard de ski ou de snowboard convient parfaitement."
    />

    <FAQ
      question="Existe-t-il une limite d’âge pour participer ?"
      answer="L’activité est accessible dès l’âge de 5 ans. Pour les participants mineurs (moins de 18 ans), une autorisation parentale est requise."
    />

    <FAQ
      question="Puis-je utiliser une GoPro ou une caméra pendant le vol ?"
      answer="Oui, l’utilisation d’une caméra est autorisée, à condition qu’elle soit correctement sécurisée, par exemple attachée au poignet ou à l’aide d’un mousqueton."
    />

    <FAQ
      question="Comment reçoit-on les photos et vidéos ?"
      answer="Si vous avez choisi l’option photos/vidéos, celles-ci vous seront transférées directement sur votre téléphone à la fin du vol."
    />

    <FAQ
      question="Mes proches peuvent-ils assister au décollage et à l’atterrissage ?"
      answer="Oui, le décollage et l’atterrissage ont lieu à proximité immédiate des pistes, ce qui permet à vos proches de suivre le vol depuis celles-ci."
    />

    <FAQ
      question="Est-il possible d’emporter un sac avec soi ?"
      answer="Oui, il est possible d’emporter un petit sac à dos."
    />


    </div>
  </div>
</section>

<section class="w-full py-16">
  <div class="max-w-6xl mx-auto px-6">
    
    <!-- Titre -->
    <h2 class="text-3xl font-bold mb-8 text-center">
      Informations de rendez-vous
    </h2>

    <!-- Contenu en flex responsive -->
    <div class="flex flex-col lg:flex-row items-center lg:item-center gap-8">
      
      <!-- Liste à gauche -->
      <div class="lg:w-1/2 space-y-4">
        <h3 class="text-xl font-semibold">Lieu de rendez-vous</h3>
        <ul class="list-disc list-inside text-gray-700 space-y-2">
          <li>Rendez-vous devant la buvette au sommet du téléski de <span class="font-bold italic">Tsantonnaire</span>.</li>
          <li>Arriver <span class="font-bold italic">10 minutes</span> avant l’heure prévue.</li>
        </ul>

        <h3 class="text-xl font-semibold mt-4">Comment s'y rendre</h3>
        <ul class="list-disc list-inside text-gray-700 space-y-2">
          <li>Prévoyez 1H à partir du départ du télésiège de Jorasse (départ à côté du parking)</li>
          <li>Empruntez les trois installations suivantes :
            <!-- Sous-liste avec numéros -->
            <ul class="ml-6 mt-2 space-y-2">
              <li class="flex items-center space-x-2">
                <span class="flex items-center justify-center w-6 h-6 bg-red-500 text-white text-sm font-bold rounded-full">1</span>
                Télésiège de<span class="font-bold italic">&nbsp;Jorasse</span>
              </li>
              <li class="flex items-center space-x-2">
                <span class="flex items-center justify-center w-6 h-6 bg-red-500 text-white text-sm font-bold rounded-full">2</span>
                Télésiège de <span class="font-bold italic">&nbsp;Bougnogne</span>
              </li>
              <li class="flex items-center space-x-2">
                <span class="flex items-center justify-center w-6 h-6 bg-red-500 text-white text-sm font-bold rounded-full">3</span>
                Téléski de <span class="font-bold italic">&nbsp;Tsantonnaire</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>



      <!-- Image à droite -->
      <div class="lg:w-1/2">
        <img src="/images/piste.jpg" alt="Lieu de rendez-vous" class="rounded-lg shadow-md w-full object-cover" />
      </div>

    </div>
  </div>
</section>

<!-- Elfsight Google Reviews | Untitled Google Reviews -->
<!-- <script src="https://elfsightcdn.com/platform.js" async></script>
<div class="elfsight-app-c5662bfc-ecf3-48e0-a2b0-69f85f66c865 m-6" data-elfsight-app-lazy></div> -->





    <!-- Footer -->
    <Footer />
  </main>
</Layout>
