---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Volta Parapente</title>
	</head>
	<body>
		<slot />
		<script async src="//www.instagram.com/embed.js"></script>
	</body>
</html>

